.App {
  text-align: center;
  justify-content: center;
  padding-right: 43px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  height: 40vh;
  flex-grow: 1;
  list-style: none;
}

li:last-child {
  flex-grow: 10;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* MEDIA QUERY Portrait */

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

/* MEDIA QUERY Short Screens */
@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

/* MEDIA QUERY Portrait Small Screens */
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}